<table class="browse_details">
  <tr>
    <th><%= t 'browse.note.created_at' %></th>
    <td><%= l @note.created_at %></td>
  </tr>
  <tr>
    <th><%= t 'browse.note.edited_at' %></th>
    <td><%= l @note.updated_at %></td>
  </tr>
  <% if @note.status == "closed" %>
    <tr>
      <th><%= t 'browse.note.closed_at' %></th>
      <td><%= l @note.closed_at %></td>
    </tr>
  <% end %>
  <tr>
    <th><%= t 'browse.note.opened_by' %></th>
    <% if @note.author.nil? %>
      <td> <%= h(@note.author_name) %> </td>
    <% else %>
      <td><%= link_to h(@note.author_name), :controller => "user", :action => "view", :display_name => @note.author_name %></td>
    <% end %>
  </tr>
  <tr>
    <th><%= t 'browse.note.description' %></th>
    <td><%= h(@note.comments.first.body) %></td>
  </tr>
  <tr>
    <th><%= t 'browse.node_details.coordinates' %></th>
    <td><div class="geo"><%= link_to ("<span class='latitude'>#{number_with_delimiter(@note.lat)}</span>, <span class='longitude'>#{number_with_delimiter(@note.lon)}</span>"), {:controller => 'site', :action => 'index', :lat => h(@note.lat), :lon => h(@note.lon), :zoom => "18"} %></div></td>
  </tr>
</table>

<% if @note.comments.length > 1 %>
  <br />
  <table>
    <hr />
    <tr>
      <th width="20%"> <%= t 'browse.note.comment_by' %></th>
      <th width="60%"> <%= t 'browse.note.comment' %></th>
      <th width="20%"> <%= t 'browse.note.date' %></th>
    </tr>
    <% @note.comments[1..-1].each do |comment| %>
      <tr>
        <td>
          <% if comment.author.nil? %>
            <%= h(comment.author_name) %>
          <% else %>
            <%= link_to h(comment.author.display_name), :controller => "user", :action => "view", :display_name => comment.author.display_name %>
          <% end %>
        </td>
        <td>
          <% if comment.event == "commented" %>
            <%= h(comment.body) %>
          <% elsif comment.event == "closed" %>
            <i> <%= t 'browse.note.closed_action' %> </i>
          <% end %>
        </td>
        <td> <%= l comment.created_at %> </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @note.status != "closed" %>
  <% form_tag(:controller => 'note', :action => 'update', :id => @note.id) do %>
    <hr />
    <h3><%= t 'browse.note.new_comment' %></h3>
    <table>
      <tr>
        <th><%= label_tag(:name, t('browse.note.name')) %></th>
        <% if @user %>
          <td><%= @user.display_name %></td>
        <% else %>
          <td><%= text_field_tag(:name, "NoName") %></td>
        <% end %>
      </tr>
      <tr>
        <th><%= label_tag(:text, t('browse.note.text')) %></th>
        <td><%= text_area_tag(:text, "", :rows => '5', :cols => '60') %></td>
      </tr>
    </table>
    <td colspan="2"><%= submit_tag(t 'browse.note.submit_comment') %></td>
  <% end %>
<% end %>
