<%
if @note.status == "closed"
  @title = t 'browse.note.closed_title', :note_name => @note.id
else
  @title = t 'browse.note.open_title', :note_name => @note.id
end
%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
<% end %>
<%= render :partial => "navigation" %>
<h2>
<% if @note.status == "closed" %>
  <%= image_tag("closed_note_marker.png", :alt => 'closed') %>
  <%= t 'browse.note.closed_title', :note_name => @note.id %>
<% else %>
  <%= image_tag("open_note_marker.png", :alt => 'open') %>
  <%= t 'browse.note.open_title', :note_name => @note.id %>
<% end %>
</h2>
<%= render :partial => "map", :object => @note %>
<%= render :partial => "note_details", :object => @note %>
<hr />

